{% extends 'base.html' %}

{% block header %}
<script src='https://d3js.org/d3.v5.min.js' charset='utf-8'></script>
 <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<link rel="stysheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.js"></script>
{% endblock %}

{% block content %}
  <div class="row">
    <div class="col" id="profile-image">
      <div class="row">
	<img src="{{ profile_image }}" />
      </div>
      <div class="row">
        {% if total_rep is none %}
	  0
	{% else %}
          {{ total_rep }}
	{% endif %}
      </div>
    </div>
    <div class="col-9">
      <div id="myChart"></div>
    </div>
  </div>
  <div class="row flex-grow-1">
    <div class="col" id="spider-plot">
    </div>
    <div class="col-9" id="detailed-view">
    </div>
  </div>
<script>
  MG.data_graphic({
    title: "Reputation",
    description: "This graphic shows a time-series of downloads.",
    data: [{% for item in history %}
	      { 'date': new Date({{ item.time_stamp }}),
                'value' : {{ item.value }},
              },
           {% endfor %}
          ],
    width: 600,
    height: 250,
    target: '#myChart',
    x_accessor: 'date',
    y_accessor: 'value',
  })
</script>
{% endblock %}
