{% extends 'base.html' %}

{% block title %}
User: {{ g.user['username'] }}
{% endblock %}

{% block header %}
<link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}

{% block scripts %}
<script src='https://d3js.org/d3.v5.min.js' charset='utf-8'></script>
 <script src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js'></script>
<link rel="stysheet" href="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.css">
<script src="https://cdnjs.cloudflare.com/ajax/libs/metrics-graphics/2.15.6/metricsgraphics.min.js"></script>
{% endblock %}

{% block content %}
  <div class="row" id="profile-top">
    <div class="col-sm-4">
      <div class="row justify-content-center">
	<img src="{{ profile_image }}" id="profile-img" />
      </div>
      <div class="row justify-content-center">
        {% if total_rep is none %}
	  0
	{% else %}
          {{ total_rep }}
	{% endif %}
      </div>
    </div>
    <div class="col-sm-8 stats-col">
      <div class="container">
        <div class="row" id="top-stats-row">
          <div class="col stats-item border">
            Alignment
	  </div>
	  <div class="col stats-item border">
            Protein
	  </div>
	  <div class="col stats-item border">
            Motifs
          </div>
	</div>
        <div class="row">
	  <div class="col stats-item border">
            RNA
	  </div>
	  <div class="col stats-item border">
            Phylogeny
	  </div>
	  <div class="col stats-item border">
            Probability
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="myChart"></div>
<script>
  MG.data_graphic({
    title: "Reputation",
    description: "This graphic shows a time-series of downloads.",
    data: [{% for item in history %}
	      { 'date': new Date({{ item.time_stamp }}),
                'value' : {{ item.value }},
              },
           {% endfor %}
          ],
    width: 600,
    height: 250,
    target: '#myChart',
    x_accessor: 'date',
    y_accessor: 'value',
  })
</script>
{% endblock %}
