{% extends 'base.html' %}

{% block title %}
User: {{ g.user['username'] }}
{% endblock %}

{% block header %}
  <link rel="stylesheet" href="{{ url_for('static', filename='profile.css') }}">
{% endblock %}

{% block scripts %}
{% endblock %}

{% block content %}
  <div class="row" id="profile-top">
    <div class="col-sm-4">
      <div class="row justify-content-center">
        <div class="card" style="width: 14rem;">
          <img src="{{ profile_image }}" />
          <div class="card-body">
            <h5 class="card-title">
              Reputation: 
              {% if total_rep is none %} 
                0
              {% else %}
                {{ total_rep }}
              {% endif %}
            </h5>
	  </div>
      	</div>
      </div>
    </div>
    <div class="col-sm-8 stats-col">
      <div class="container">
        <div class="row" id="top-stats-row">
          <div class="col stats-item border">
            <h4>Alignment</h4>
	    {% if alignment_rep is none %}
	      <h5> 0 </h5>
            {% else %}
	      <h5>{{ alignment_rep }}</h5>
	    {% endif %}
	  </div>
	  <div class="col stats-item border">
            <h4>Protein</h4>
	    {% if protein_rep is none %}
	      <h5> 0 </h5>
            {% else %}
	      <h5>{{ protein_rep }}</h5>
	    {% endif %}
	  </div>
	  <div class="col stats-item border">
            <h4>Motifs</h4>
	    {% if protein_rep is none %}
	      <h5> 0 </h5>
            {% else %}
	      <h5>{{ protein_rep }}</h5>
	    {% endif %}
          </div>
	</div>
        <div class="row">
	  <div class="col stats-item border">
            <h4>RNA</h4>
	    {% if rna_rep is none %}
	      <h5> 0 </h5>
            {% else %}
	      <h5>{{ rna_rep }}</h5>
	    {% endif %}
	  </div>
	  <div class="col stats-item border">
            <h4>Phylogeny</h4>
	    {% if phylogeny_rep is none %}
	      <h5> 0 </h5>
            {% else %}
	      <h5>{{ phylogeny_rep }}</h5>
	    {% endif %}
	  </div>
	  <div class="col stats-item border">
            <h4>Probability</h4> 
	    {% if probability_rep is none %}
	      <h5> 0 </h5>
            {% else %}
	      <h5>{{ probability_rep }}</h5>
	    {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
