.cell {
  min-height: 75px;
  width: 75px;
  height: 75px;
}

.constant-cell {
  min-height: 75px;
  width: 75px;
  height: 75px;
}

.selected-cell {
  background-color: #ffed23 !important;
}

table.matrix {
  width: 100%;
  height: 100%;
}

td.cell {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

/* Cell *cannot* be selected. */
td.constant-cell {
  border-collapse: collapse;
  border: 1px solid #ddd;
}

.subcell {
  table-layout: fixed;
  width: 50% !important;
  height: 50%;
  text-align: center;
}

.amino {
  text-align: center;
}
