html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100%;
}

.nav-link {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

#alignment-item {
  color: #fff;
  background: #d05353;
  border: 2px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#protein-item {
  color: #fff;
  background: #d05353;
  border: 2px;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#motifs-item {
  color: #fff;
  background: #d05353;
  border: 2px;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

#rna-item {
  color: #fff;
  background: #d05353;
  border: 2px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#phylogeny-item {
  color: #fff;
  background: #d05353;
  border: 2px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#probability-item {
  color: #fff;
  background: #d05353;
  border: 2px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  padding: 0px;
}

.main-row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}
