html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100%;
}

a, a:hover, a:active, a:visited {
  color: #fff;
  text-decoration: none;
}

.nav-link {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

#alignment-item {
  color: #fff;
  background: #d05353;
  border: 2px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#protein-item {
  color: #fff;
  background: #2d7dd2;
  border: 2px;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#motifs-item {
  color: #fff;
  background: #7ca704;
  border: 2px;
  margin-left: 10px;
  margin-top: 20px;
  margin-right: 20px;
  margin-bottom: 10px;
}

#rna-item {
  color: #fff;
  background: #95405a;
  border: 2px;
  margin-left: 20px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#phylogeny-item {
  color: #fff;
  background: #eeb902;
  border: 2px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 10px;
  margin-bottom: 20px;
}

#probability-item {
  color: #fff;
  background: #30343f;
  border: 2px;
  margin-left: 10px;
  margin-top: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
}

.container-fluid {
  padding: 0px;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#profile-image {
  min-height: 300px;
  background: #d05353;
  margin-right: 10px;
  margin-top: 20px;
  margin-left: 20px;
  margin-bottom: 10px;
}

#spider-plot {
  background: #95405a; 
  margin-left: 20px;
  margin-right: 10px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#detailed-view {
  background: #7ca704;
  margin-left: 10px;
  margin-right: 20px;
  margin-bottom: 20px;
  margin-top: 10px;
}

#login-title {
  color: #fff;
}

#login-title-div {
  margin-top: 20px;
}

.auth-main {
  background: #2d7dd2;
}

#problem-row {
  min-height: 500px;
}

#myChart {
  width: 100% !important;
  height: 300px !important;
}

.cell {
  min-height: 75px;
  width: 75px;
  height: 75px;
}

.selected-cell {
  background-color: red !important;
}

.subcell {
  table-layout: fixed;
  width: 50% !important;
  height: 50%;
  text-align: center;
}

#problem-form {
  width: 100% !important;
  height: 100% !important;
}

table.matrix {
  width: 100%;
  height: 100%;
}

td.cell {
  border-collapse: collapse;
  border: 1px solid #ddd;
}
