html {
  height: 100vh;
  width: 100vw;
}

body {
  height: 100vh;
  width: 100%;
}

.nav-link {
  color: #fff;
}

.navbar-brand {
  color: #fff;
}

a.main-item,
a:hover.main-item,
a:active.main-item,
a:visited.main-item {
  color: #fff;
  text-decoration: none;
}

.main-screen > div {
  color: #fff;
  border: 2px;
  margin-left: 20px;
  margin-top: 20px;
  margin-right: 10px;
  margin-bottom: 10px;
}

#alignment-item {
  background: url(alignment.svg) no-repeat center #d05353;
}

#protein-item {
  background: url(protein.svg) no-repeat center #2d7dd2;
}

#motifs-item {
  background: url(motifs.svg) no-repeat center #7ca704;
}

#rna-item {
  background: url(rna.svg) no-repeat center #95405a;
}

#phylogeny-item {
  background: url(phylogeny.svg) no-repeat center #eeb902;
}

#probability-item {
  background: url(dice.svg) no-repeat center #30343f;
}

.container-fluid {
  padding: 0px;
}

.row {
  margin-right: 0px !important;
  margin-left: 0px !important;
}

#problem-row {
  min-height: 500px;
}

#problem-form {
  width: 100% !important;
  height: 100% !important;
}

#problem-col {
  padding-top: 10px;
  padding-left: 60px;
  padding-right: 60px;
}

#register-button {
  color: #222222;
}

.problem-entry {
  color: #222 !important;
}
