{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="row align-items-center flex-grow-1">
  <div class="col text-center align-self-stretch" id="alignment-item">
    <h1> <a href="problems/alignment.html"> Alignment </a> </h1>
  </div>
  <div class="col text-center align-self-stretch" id="protein-item">
    <h1> Protein </h1>
  </div>
  <div class="col text-center align-self-stretch" id="motifs-item">
    <h1> Motifs </h1>
  </div>
</div>
<div class="row align-items-center flex-grow-1">
  <div class="col text-center align-self-stretch" id="rna-item">
    <h1> RNA </h1>
  </div>
  <div class="col text-center align-self-stretch" id="phylogeny-item">
    <h1> Phylogeny </h1>
  </div>
  <div class="col text-center align-self-stretch" id="probability-item">
    <h1> Probability </h1>	
  </div>
</div>
{% endblock %}
