{% extends 'base.html' %}

{% block content %}
<div class="row align-items-center flex-grow-1 main-screen">
  <div class="col text-center align-self-stretch" id="alignment-item">
    <h1> <a href="problems/alignment.html" class="main-item"> Alignment </a> </h1>
  </div>
  <div class="col text-center align-self-stretch" id="protein-item">
    <h1> <a href="problems/protein.html" class="main-item"> Protein </a> </h1>
  </div>
  <div class="col text-center align-self-stretch main-item" id="motifs-item">
    <h1> <a href="problems/motifs.html" class="main-item"> Motifs </a> </h1>
  </div>
</div>
<div class="row align-items-center flex-grow-1 main-screen">
  <div class="col text-center align-self-stretch" id="rna-item">
    <h1> <a href="problems/rna.html" class="main-item"> RNA </a> </h1>
  </div>
  <div class="col text-center align-self-stretch" id="phylogeny-item">
    <h1> <a href="problems/phylogeny.html" class="main-item"> Phylogeny </a> </h1>
  </div>
  <div class="col text-center align-self-stretch" id="probability-item">
    <h1> <a href="problems/probability.html" class="main-item"> Probability </a> </h1>
  </div>
</div>
{% endblock %}

{% block scripts %}
  {% if not g.user %}
    <script src="{{ url_for('static', filename='newcommer.js') }}"></script>
    <script>
      showNewUserAlert("{{ url_for('auth.register') }}", "{{ url_for('auth.login') }}");
    </script>
  {% endif %}
{% endblock %}
