{% extends 'base.html' %}

{% block content %}
<div class="row align-items-center flex-grow-1 main-screen">
  <div class="col text-center align-self-stretch" id="alignment-item">
    <h1> <a href="problems/alignment.html"> Alignment </a> </h1>
  </div>
  <div class="col text-center align-self-stretch" id="protein-item">
    <h1> <a href="problems/protein.html"> Protein </a> </h1>
  </div>
  <div class="col text-center align-self-stretch" id="motifs-item">
    <h1> <a href="problems/motifs.html"> Motifs </a> </h1>
  </div>
</div>
<div class="row align-items-center flex-grow-1 main-screen">
  <div class="col text-center align-self-stretch" id="rna-item">
    <h1> <a href="problems/rna.html"> RNA </a> </h1>
  </div>
  <div class="col text-center align-self-stretch" id="phylogeny-item">
    <h1> <a href="problems/phylogeny.html"> Phylogeny </a> </h1>
  </div>
  <div class="col text-center align-self-stretch" id="probability-item">
    <h1> <a href="problems/probability.html"> Probability </a> </h1>
  </div>
</div>
{% endblock %}
