{% import 'problems/_matrix.html' as mat %}
{% extends 'problems/problems.html' %}

{% block title %}
Needleman-Wunsch Algorithm
{% endblock %}

{% block header %}
<link rel="stylesheet" href={{ url_for('static', filename='needlemanwunsch.css') }}>
{% endblock header %}

{% block bottombar %}
  <form method="post" id="problem-form">
    <li class="nav-item">
      <input type="text" class="form-control">
    </li>
  </form>
  <form method="post" id="problem-form">
    <li class="nav-item">
      <input type="text" class="form-control">
    </li>
  </form>
{% endblock bottombar %}

{% block scripts %}
  <script src="{{ url_for('static', filename='matrix.js') }}"></script>
  <script src="{{ url_for('static', filename='loadproblem.js') }}"></script>
{% endblock %}
