{% extends 'problems/problems.html' %}
{% block problem %}
  <form method="post" id="problem-form">
    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    <table class="table">
      <tbody>
        <tr>
          <!-- The '  ' is used for correct table alignment. -->
          {% for base in ( '  ' + sequences[0]) %}
	    <td> {{ base }} </td>
	  {% endfor %}
        </tr>
        {% for row in matrix %}
	  {% set outer_loop = loop.index0 %}
          <tr>
            <td> {{ (' ' + sequences[1])[loop.index0] }} </td>
            {% for entry in row %}
	      <td>
	        {% if entry != ' ' %}
		  <input name="hidden-{{ outer_loop }}-{{ loop.index0 }}" 
	                 value="{{ entry }}"
		  	 type="hidden" />
                  <input name="{{ outer_loop }}-{{ loop.index0 }}" type="checkbox"/>
		  <label for="{{ outer_loop }}-{{ loop.index0 }}">
                    {{ entry }} 
		  </label>
		{% endif %}
              </td>
            {% endfor %}
          </tr>
        {% endfor %}
      </tbody>
    </table>
  </form>
{% endblock %}
