{% extends 'base.html' %}

{% block content %}
<div class="row" id="problem-row">
  <div class="col-2">
    <ul class="nav flex-column">
      {% for category in categories %}
        <li class="nav-item">
	  <p><b>{{ category }}</b></p>
	  <ul class="nav flex-column">
	    {% for problem in categories[category] %}
	      <li class="nav-item">
	        {{ problem }}
	      </li>
	     {% endfor %}
	  </ul>
        </li>
      {% endfor %}
  </div>
  <div class="col-2 d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary">◀</button>
  </div>
  <div class="col" id="problem-col">
    <form method="post" id="problem-form">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
      {% block problem %} {% endblock %}
    </form>
  </div>
  <div class="col-2 d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary">▶</button>
  </div>
</div>
<nav class="navbar navbar-expand fixed-bottom navbar-light bg-light">
  <ul class="navbar-nav ml-auto">
    <li class="nav-item">
      <button type="submit"
              name="submit-solution"
              method="get"
              class="btn btn-primary"
	      form="problem-form">
	      Submit
      </button>
    </li>
    <li class="nav-item">
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary active">
          <input type="radio" 
                 name="options" 
                 id="quiz" 
                 autocomplete="off" 
                 checked>
	    Quiz
        </label>
        <label class="btn btn-secondary">
          <input type="radio" 
                 name="options"
                 id="practice"
                 autocomplete="off">
            Practice
        </label>
      </div>
    </li>
  </ul>
</nav>
{% endblock %}
