{% extends 'base.html' %}

{% block content %}
<div class="row" id="problem-row">
  <div class="col-2">
    <ul class="nav flex-column">
      <li class="nav-item">
        <h3>Alignment</h3>
      </li>
      <li class="nav-item">
        <h3>Protein</h3>
      </li>
      <li class="nav-item">
        <h3>Motifs</h2>
      </li>
      <li class="nav-item">
	<h3>RNA</h2>
      </li>
      <li class="nav-item">
        <h3>Phylogeny</h3>
      </li>
      <li class="nav-item">
        <h3>Probability</h3>
      </li>
    </ul>
  </div>
  <div class="col-2 d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary">◀</button>
  </div>
  <div class="col">
  </div>
  <div class="col-2 d-flex align-items-center justify-content-center">
    <button type="button" class="btn btn-primary">▶</button>
  </div>
</div>
<div class="row">
  <div class="col-4">
  </div>
  <div class="col d-flex justify-content-end">
    <button type="button" class="btn btn-primary">Submit</button>
    <div class="btn-group btn-group-toggle" data-toggle="buttons">
      <label class="btn btn-secondary active">
        <input type="radio" 
	       name="options" 
	       id="quiz" 
	       autocomplete="off" 
	       checked>
	  Quiz
      </label>
      <label class="btn btn-secondary">
        <input type="radio" 
	       name="options"
               id="practice"
	       autocomplete="off">
          Practice
      </label>
    </div>
  </div>
  <div class="col-2">
  </div>
</div>
{% endblock %}
