<!doctype html>
<title>{% block title %}{% endblock %}</title>
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<body class="container-fluid d-flex flex-column">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Kelley Bio Info</a>
    <ul class="navbar-nav ml-auto">
      {% if g.user %}
        <li class="nav-item">
	  <a class="nav-link" href="profile/{{ g.user['id'] }}">{{ g.user['username'] }}</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('auth.logout') }}">Log Out</a>
        </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.register') }}">Register</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{{ url_for('auth.login') }}">Log In</a>
      </li>
      {% endif %}
    </ul>
  </nav>
  <header>
    {% block header %}{% endblock %}
  </header>
  {% for message in get_flashed_messages() %}
    <div class="flash">{{ message }}</div>
  {% endfor %}
  {% block content %}{% endblock %}
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
